html,
body,
main {
  min-width: 100%;
  min-height: 100%;
  margin: 0 0;
}

.thumbnailContainer {
  width: 90%;
  height: 30%;
  margin: 10% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30%;
  row-gap: 4.5%;
}

.thumbnailImage {
  align-self: center;
  padding: auto;
  width: 90%;
  height: 90%;
  border: 5px solid;
  object-fit: fill;
}
