html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0 0;
}

.thumbnailContainer {
  width: 90%;
  height: 50%;
  margin: 10% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30%;
  gap: 5% 5%;
  overflow: hidden;
}

.thumbnailImage {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: solid 5px;
  object-fit: contain;
}
